[Unit]
Description=AD3D service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/autodrop3dClient/start.sh

[Install]
WantedBy=multi-user.target
