[Unit]
Description=Autodrop 3d printer controller service

Wants=network-online.target
After=network-online.target



[Service]
ExecStart=bash "/autodrop/start.sh"


[Install]
WantedBy=multi-user.target
