<form action="/">
	AutoDropSerialPort:<br>
	<input type="text" name="AutoDropSerialPort" value="{{ AutoDropSerialPort }}"><br>
	AutoDropSerialPortSpeed:<br>
	<input type="text" name="AutoDropSerialPortSpeed" value="{{ AutoDropSerialPortSpeed }}"><br>
	printerServer:<br>
	<input type="text" name="printerServer" value="{{ printerServer }}"><br>
	printerName:<br>
	<input type="text" name="printerName" value="{{ printerName }}"><br>
	printerMaterial:<br>
	<input type="text" name="printerMaterial" value="{{ printerMaterial }}"><br>
	SIZEX:<br>
	<input type="text" name="SIZEX" value="{{ SIZEX }}"><br>
	SIZEY:<br>
	<input type="text" name="SIZEY" value="{{ SIZEY }}"><br>
	SIZEZ:<br>
	<input type="text" name="SIZEZ" value="{{ SIZEZ }}"><br>
  <input type="submit" value="Submit"><br>
</form> 